In [1]:
import pandas as pd

In [41]:
movies = pd.read_csv("/data/movielens/movies.csv")
ratings = pd.read_csv("/data/movielens/ratings.csv")

In [49]:
movies.shape

(9125, 4)

In [50]:
ratings.shape

(100004, 4)

In [37]:
godfather = movies[movies.title.str.contains("Godfather")]
godfather

      movieId                            title                        genres
695       858            Godfather, The (1972)                   Crime|Drama
977      1221   Godfather: Part II, The (1974)                   Crime|Drama
1585     2023  Godfather: Part III, The (1990)  Crime|Drama|Mystery|Thriller
5470     8607          Tokyo Godfathers (2003)     Adventure|Animation|Drama

In [38]:
godfather_id = list(godfather.movieId)[0]
godfather_id

858

In [52]:
ratings[ratings.movieId == godfather_id].shape

(200, 4)

In [56]:
agg = ratings.groupby("movieId").rating.agg(["mean", "count"])
agg[agg.index == godfather_id]

           mean  count
movieId
858      4.4875    200

In [58]:
agg = agg.reset_index()

In [59]:
agg[agg.movieId == godfather_id]

     movieId    mean  count
695      858  4.4875    200

In [60]:
agg = ratings.groupby("movieId").rating.agg(["mean", "count"])

In [61]:
agg.loc[godfather_id]

mean       4.4875
count    200.0000
Name: 858, dtype: float64

In [65]:
agg = agg.query("count>100")
agg.shape

(149, 2)

In [68]:
agg.sort_values("mean", ascending=False, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
top10 = agg[:10].merge(movies, on = "movieId")
top10

,movieId,mean,count,title,genres,genres_list
0,858,4.487500,200,"Godfather, The (1972)",Crime|Drama,"[Crime, Drama]"
1,318,4.487138,311,"Shawshank Redemption, The (1994)",Crime|Drama,"[Crime, Drama]"
2,1221,4.385185,135,"Godfather: Part II, The (1974)",Crime|Drama,"[Crime, Drama]"
3,50,4.370647,201,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,"[Crime, Mystery, Thriller]"
4,527,4.303279,244,Schindler's List (1993),Drama|War,"[Drama, War]"
5,1193,4.256944,144,One Flew Over the Cuckoo's Nest (1975),Drama,[Drama]
6,608,4.256696,224,Fargo (1996),Comedy|Crime|Drama|Thriller,"[Comedy, Crime, Drama, Thriller]"
7,296,4.256173,324,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,"[Comedy, Crime, Drama, Thriller]"
8,2858,4.236364,220,American Beauty (1999),Drama|Romance,"[Drama, Romance]"
9,58559,4.235537,121,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,"[Action, Crime, Drama, IMAX]"

In [75]:
top10 = top10[["movieId", "title", "mean"]]

In [79]:
top10.to_json("/tmp/top10.json", orient = "records")

In [81]:
top10.to_csv("/tmp/top10.csv", index = False)