In [1]:
import pandas as pd

In [10]:
stocks = pd.read_csv("/data/stocks.small.csv")

In [3]:
type(stocks)

pandas.core.frame.DataFrame

In [11]:
stocks.head()

,date,open,high,low,close,volume,adjclose,symbol
0,2000-07-18,144.81250,144.828125,141.437500,143.0000,50683600.0,50.155473,INTC
1,2000-07-20,32.93751,34.250010,32.812500,33.7500,3288300.0,8.789734,BEN
2,2000-07-24,64.25000,67.312477,64.187523,64.7500,948800.0,7.689567,APH
3,2000-07-26,21.87500,22.125000,20.937500,20.9375,1464300.0,15.618320,SHW
4,2000-07-26,42.00000,42.312481,41.625000,41.8750,1397600.0,9.402721,STJ

In [7]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1846 entries, 0 to 1845
Data columns (total 8 columns):
date        1846 non-null object
open        1846 non-null float64
high        1846 non-null float64
low         1846 non-null float64
close       1846 non-null float64
volume      1846 non-null float64
adjclose    1846 non-null float64
symbol      1846 non-null object
dtypes: float64(6), object(2)
memory usage: 115.5+ KB

In [14]:
stocks.shape

(1846, 8)

In [15]:
stocks.dtypes

date         object
open        float64
high        float64
low         float64
close       float64
volume      float64
adjclose    float64
symbol       object
dtype: object